div{
    text-align: center;
}
p{
    font-size:large;
}
h3{
    color: hwb(180 0% 0%);
}
table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border: 1px solid rgb(207, 204, 198);
    text-align: left;
    padding: 15px;
}
th{
    background-color: black;
    color: white;
}